header {
  text-align: center;
  color: #fff;
  padding: 10px;
  background-color: #b2a066;
}
.tagline {
  color: #fff;
  font-size: 18px;
}
h1  {
  font-size: 60px;
  color: #fff;
  font-family: 'Great Vibes', cursive;
}
h2 {
  font-size: 30px;
  margin-left: 30px;
  color: #b2a066;
}
p {
  margin-left: 30px;
}
img {
  width: 500px;
  padding: 30px;
}
.divBG1 {
  background-image: url("./img/DSC00114-1.jpg");
  height: 400px;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.divBG2 {
  background-image: url("./img/DSC00048-1.jpg");
  height: 400px;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.divBG3 {
  background-image: url("./img/DSC00074-1.jpg");
  height: 400px;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
