header {
  text-align: center;
  color: #fff;
  padding: 10px;
  background-color: #b2a066;
}
.tagline {
  color: #fff;
  font-size: 18px;
}
h1  {
  font-size: 70px;
  color: #fff;
  font-family: 'Great Vibes', cursive;
}
h2 {
  font-size: 30px;
  margin-left: 30px;
  color: #b2a066;
}
h3  {
  font-size: 40px;
  color: #fff;
}
p {
  margin-left: 30px;
  margin-bottom: 30px;
}
img {
  max-height: 1000px;
}
  /* Container holding the image and the text */
.container {
    position: relative;
}
.text-block-left {
    position: absolute;
    bottom: 50%;
    right: 50%;
    background-color: white;
    opacity: 0.8;
    color: #36383a;
    padding-left: 50px;
    padding-right: 50px;
}
.text-block-right {
    position: absolute;
    bottom: 50%;
    left: 50%;
    background-color: white;
    opacity: 0.8;
    color: #36383a;
    padding-left: 50px;
    padding-right: 50px;
}
